---

---

<footer>
  <p>
    Nos puedes encontrar tambien en: <a
      href={`https://www.instagram.com/guadabowl`}>Instagram</a
    > o mandarnos un email a <a href="mailto:guadabowl@gmail.com"
      >guadabowl@gmail.com</a>
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    background-color: #c80000;
    padding: 0.5em;
    width: 100%;
  }

  a {
    padding: 0.5rem 1rem;
    background-color: #19336c;
    border-radius: 0.5em;
    color: #eeb700;
    text-decoration: none;
    font-weight: bold;
  }
</style>
