---
import Navigation from './Navigation.astro';
import Hamburguer from './Hamburguer.astro';
---

<header class="header-bar">
  <nav>
    <Hamburguer />
    <Navigation />
  </nav>
</header>

<style>
  .header-bar {
    min-width: 100%;
    background-color: #c80000;
    color: #fff;
    padding: 1em 0em 1em 0em;
  }
</style>
