---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/football-ball.ico" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Guadabowl es una web fan dedicada a gestionar las ligas, torneos, y el juego organizado en general de blood bowl en la ciudad de Guadalajara España."
    />
    <meta
      name="keywords"
      content="Bloodbowl, España, Blood, Bowl, Guadalajara"
    />
    <meta name="theme-color" content="#c80000" />
    <meta name="geo.region" content="ES" />
    <meta name="geo.placename" content="Guadalajara" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <meta name="language" content="es" />
    <meta name="author" content="Miguel Zamora Rey" />

    <!--Facebook meta tags -->
    <meta property="og:title" content={pageTitle} />
    <meta property="og:url" content="https://www.guadabowl.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Guadabowl es una web fan dedicada a gestionar las ligas, torneos, y el juego organizado en general de blood bowl en la ciudad de Guadalajara España."
    />
    <meta
      property="og:image"
      content="https://www.guadabowl.com/assets/images/Guadabowl_Color.webp"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <!--Tritter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="https://www.guadabowl.com" />
    <meta property="twitter:url" content="https://www.guadabowl.com/" />
    <meta
      name="twitter:image"
      content="https://www.guadabowl.com/assets/images/Guadabowl_Color.webp"
    />

    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1 class="pageTitle">{pageTitle}</h1>
    <main class="container">
      <slot />
    </main>
    <Footer />
    <script>
      import '../scripts/menu.js';
    </script>
  </body>
</html>

<style>
  .pageTitle {
    padding: 1rem;
  }
  .container {
    min-height: 55.5vh;
    display: grid;
    gap: 1em;
    justify-content: center;
    max-width: 100%;
    min-height: 65vh;
    grid-template-columns: repeat(auto-fill, 20em);
  }
</style>
